.login-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 40%; /* 稍微靠上 */
  left: 50%;
  transform: translate(-50%, -50%);
  width: 70%; /* 减少宽度 */
  text-align: center;
  background-color: white;
}

.login-input {
  margin: 10px 0; /* 增加输入框之间的垂直间距 */
  padding: 10px 5px;
  font-size: 16px; /* 增大字体大小 */
  border: 1px solid #ccc; /* 更粗的边框 */
  border-radius: 1px; /* 圆角边框 */
  width: 95% !important; /* 确保输入框宽度适应容器 */
}
